* {
    border-radius: 0;
    font-family: 'FiraCode Nerd Font', 'Fira Code', 'Operator Mono SSm Book', 'JetBrains Mono', 'Cartograph CF Nerd Font', monospace;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #DADAE8;
}

tooltip {
	background: #1E1E28;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
}

/* #window{
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
} */

#taskbar,
#window,
#workspaces {
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
}

/* #workspaces button.focused { */
#workspaces button.active { /* for hyprland */
    color: #42a5f5;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: transparent;
	color: #A4B9EF;
    border-radius: 15px;
}

#taskbar button:hover {
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
    border-radius: 15px;
}

#battery,
#backlight,
#bluetooth,
#cpu,
#clock,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-power,
#custom-media_prev,
#custom-media_play,
#custom-media_next,
#custom-notification,
#custom-first,
#custom-last,
#pulseaudio,
#memory,
#mpd,
#mpris,
#network,
#tray,
#taskbar,
#temperature,
#user,
#window  {
	padding: 2px 10px;
    background: #332E41;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-media_prev,
#custom-media_play,
#custom-media_next {
    padding: 0px 5px 0px 3px;
    background: #423d52;
	border-width: 2px 0px 2px 0px;
	border-style: solid;
	border-color: #332E41;
}

#custom-media_prev,
#custom-media_next {
    padding-left: 5px;
}

#custom-first,
#custom-last {
    padding: 0 5px 0 5px;
    border-radius: 15px 0px 0px 15px;
}

#custom-first {
    margin-left: 5px;
}

#custom-last {
    margin-right: 5px;
    border-radius: 0px 15px 15px 0px;
}

#custom-vpn {
    background: #332E41;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-spotify {
    background: #332E41;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}

@keyframes blink {
    to {
        /* color: #000000; */
        color: #ee2020;
    }
}

#cpu.good,
#memory.good,
#temperature.good,
#battery.good {
    color: #b0efa4;
}

#cpu.warning,
#memory.warning,
#temperature.warning,
#battery.warning:not(.charging) {
    color: #e2b743;
}

#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical:not(.charging) {
    color: #e28743;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.normal {
    color: #a4b9ef;
}
#cpu.warning {
    color: #e2b743;
}
#cpu.critical {
    color: #e24343;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
